* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		z-index: 1;
		font-family: 'Nunito', sans-serif;
		text-decoration: none;
}

body {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
}

main {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		justify-content: space-around;
		align-items: center;
}

/*TEMPORARY*/

.single-pedal__img-container {
		width: 500px;
		height: auto;
}

img {
		width: 90%;
		max-width: 500px;
		height: auto;
		object-fit: cover;
}

button {
		margin: 8px;
		padding: 10px 30px;
}

/**/

.header {
		width: 100%;
		height: 20%;
		min-height: 80px;
		display: flex;
		justify-content: center;
}

.header__heading {
		padding: 24px 0;
}

.header__heading>a {
		font-family: 'Abril Fatface', cursive;
		font-size: 2.6rem;
}

.nav {
		width: 100%;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background-color: rgba(1, 1, 1, 0.2);
}

.nav__link {
		width: auto;
		min-width: 25%;
		height: 80px;
		text-decoration: none;
		text-align: center;
		margin: 0 5px;
		font-weight: 500;
		font-size: 1rem;
		letter-spacing: 0.9rem;
		color: black;
		line-height: 200%;
		text-transform: uppercase;
		box-sizing: border-box;
		opacity: 0.8;
		display: flex;
		align-items: center;
		justify-content: center;
}

.nav__link>p {
		width: 100%;
}


.nav__link:hover {
		color: grey;
		transition: all .2s linear;
}

.add-form__header {
		text-align: center;
		margin-bottom: 8px;
}

.add-form>input,
.add-form>button,
.add-form>select {
		margin: 0 12px;
}

.add-form>button {
		margin-top: 8px;
		padding: 10px 30px;
}

.filter__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
}

.filter__header {
		text-align: center;
		margin: 12px 0;
}

.all-single-gear__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
}

.single-gear__container {
		height: 80vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 12px 0;
}

.single-gear__img-container {
		display: flex;
		width: 100%;
		justify-content: center;
		margin: 12px 0;
}

.single-gear__name {
		text-align: center;
		width: 100%;
}

/**/

.display-none {
		display: none;
}

/**/